{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,900' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Cardo:100,200,300,400,500,600,700,900' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <title>{{ name }}</title>

</head>

<style type="text/css">
	

</style>
<body>
	<ul id="myDIV">
  <li class="myPage">My Page</li>
  <li class="links"><a class="bton" href="#kontak">Kontak</a></li>
  <li class="links"><a class="bton" href="#minat">Minat</a></li>
  <li class="links"><a class="bton" href="#pengalaman">Pengalaman</a></li>
  <li class="links"><a class="bton" href="#pendidikan">Pendidikan</a></li>
  <li class="links"><a class="bton active" href="#home">Beranda</a></li>

</ul>
<section id="home">
	<div class="container">
		<div class="card col-md-12">
			
	    <div class="col-md-4" style="padding-top: 2%">
	    	<img style="box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2); border-radius: 10px;" src="{% static 'image/randa.jpg' %}" width="340" height="250">
	    </div>
	    <div class="col-md-8">
			<div class="card-body deskripsi">
				<div class="card-title">
	    		<h1>{{ name }}</h1>
	    		</div>
	    		<br><br>
	    	<h3>{{ npm }}</h3>
	    	<h3>Omega 2016</h3>
	    	<h3>Fakultas Ilmu Komputer Universitas Indonesia<h3>
	    		<br><br>
	    		<h4>Perantau Minang yang merantau ke Depok untuk berkuliah di Fasilkom UI. Tertarik dengan <i>Web Development</i> khususnya
	    		 pada <i>Front End Development.</i> Anak pertama dari 3 bersaudara dan satu-satunya yang pergi merantau ke Pulau Jawa. Menetap di kosan daerah Pondok Cina, tapi sekarang menetap di kampung halaman karena pandemi.</h4>
	    	</div>
	    </div>
	    <div class="col-md-4 fasilkom" >
			<img src="https://upload.wikimedia.org/wikipedia/id/thumb/a/a5/Signature_FASILKOMUI.png/1200px-Signature_FASILKOMUI.png" width="200" height="300">
	    </div>
	    
	    
	    </div>

	</div>
	<br><br><hr>
</section>

	<section id="pendidikan">
		<div class="container">
		<div class="card col-md-12">
			<div class="col-md-2">
	    	
	    </div>
	    <div class="col-md-8">
			<div class="card-body">
				<div class="card-title">
	    		<h2>Pendidikan</h2>
	    		</div>
	    	</div>
	    	<br>
	    </div>
	    
	    <div class="col-md-4" >
			<img src="{% static 'image/sdn07.jpg' %}" width="270" height="180">
			<h4>SDN 07 Sitapung </h4>
			<h5>(2004 - 2010)</h5>
	    </div>
	    <div class="col-md-4" >
			<img src="{% static 'image/smpn1.jpg' %}" width="270" height="180">
			<h4>SMPN 1 Ampek Angkek </h4>
			<h5>(2010 - 2013)</h5>
	    </div>
	    <div class="col-md-4" >
			<img src="{% static 'image/sman1.jpg' %}" width="270" height="180">
			<h4>SMAN 1 Ampek Angkek </h4>
			<h5>(2013 - 2016)</h5>
	    </div>
	    <div class="col-md-4" >
			
	    </div>
	    <div class="col-md-4" >
			<img src="{% static 'image/fasilkom.jpg' %}" width="270" height="180">
			<h4>Fasilkom UI </h4>
			<h5>(2016 - Sekarang)</h5>
			<br>
	    </div>
	    <br><br>
	    <div class="col-md-4" >
			
	    </div>
	    
	    <br><br>
	    </div>

	</div>
<br>
	</section>
	<br><hr>
	<section id="pengalaman">
		<div class="container">
		<div class="card col-md-12">
			<div class="col-md-2">
	    	
	    </div>
	    <div class="col-md-8">
			<div class="card-body">
				<div class="card-title">
	    		<h2>Pengalaman</h2>
	    		</div>
	    	</div>
	    	<br>
	    </div>
	    
	    <div class="col-md-6" >
			<div class="card-body">
				<div class="card-title">
	    		<h3>Organisasi</h3>
	    		</div>
	    		<h4>- Staff Keilmuan BEM Fasilkom UI 2017</h4>
	    		<br><br><br><br>
	    	</div>
	    	
	    	<br>
	    </div>
	    <div class="col-md-6" >
			<div class="card-body">
				<div class="card-title">
	    		<h3>Kerja dan Proyek</h3>
	    		</div>
	    		<h4>- Web Engineer Intern KOTA Digivice</h4>
	    		<h4>- Proyek DoIt</h4>
	    		<h4>- Proyek Tran PNBP</h4>
	    		<h4>- Proyek CRM</h4>
	    		<br><br>
	    	</div>
	    	<br>
	    </div>
	  
	    
	    
	    </div>

	</div>
	<br><br><hr>
	</section>
<section id="minat">
	<div class="container">
		<div class="card col-md-12">
			<div class="col-md-2"></div>
	    <div class="col-md-8">
			<div class="card-body">
				<div class="card-title">
	    		<h2>Minat dan Hobi</h2>
	    		</div>
	    	</div>
	    	<br>
	    </div>
	    
	    <div class="col-md-12 card-body" >
			<div>
				<div class="col-md-4 card-body">
					<h2>Olahraga dan Musik</h2>
		    		<h3>- Badminton</h4>
		    		<h3>- Basket</h4>
		    		<h3>- Gitar</h4>
		    		<h3>- Bass</h4>
		    		<h3>- Gym</h4>
	    		</div>
	    		<div class="col-md-8 card-body">
					<img src="{% static 'image/basket1.png' %}" width="230" height="230">
					<img src="{% static 'image/gitar.jpg' %}" width="200" height="180">
					<img src="{% static 'image/raket.jpg' %}" width="220" height="150">
	    		</div>
	    	</div>
	    </div>
	</div>
</div>
	<br><br><hr>
	
</section>


<section id="kontak">
	<div class="container">
		<div class="card col-md-12">
			
	    
	    <dir class="col-md-8">
			<dir class="card-body">
	    	<h3>Kontak</h3>
	    	<h4><i class="fab fa-whatsapp"></i> 083180963532</h4>
	    	<h4><i class="fab fa-line"></i> randaalvarez_7</h4>
	    	</dir>
	    </dir>
	    <div class="col-md-2">
	    	
	    </div>

	  <dir class="col-md-8">
			<dir class="card-body">
	    	<h3>Media Sosial</h3>
	    	<a href="https://www.instagram.com/randa_alfarisyi/" class="fab fa-instagram fa-4x"></a>
	    	<a href="https://id-id.facebook.com/randa.alfarisyi" class="fab fa-facebook fa-4x"></a>
	    	<a href="https://id.linkedin.com/in/randa-alfarisyi" class="fab fa-linkedin fa-4x"></a>
	    	</dir>
	    </dir>

	    
	    
	    </div>

	</div>
	<br><br><hr>
	
</section>



	<div class="footer">
  <p>@RandaAlfarisyi2020</p>
</div>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<script>
// Add active class to the current button (highlight it)
var header = document.getElementById("myDIV");
var btns = header.getElementsByClassName("bton");
for (var i = 0; i < btns.length; i++) {
  btns[i].addEventListener("click", function() {
  var current = document.getElementsByClassName("active");
  current[0].className = current[0].className.replace(" active", "");
  this.className += " active";
  });
}
</script>
</body>
</html>
