{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,900' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Cardo:100,200,300,400,500,600,700,900' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/lab_ppw.css' %}" />
    <title>Story 3</title>

</head>

<style type="text/css">
	

</style>
<body>
	<ul id="myDIV">
  <li class="myPage">Story 3</li>
</ul>
<section id="home">
	<div class="container">
		<div class="card col-md-12">
			
	    <div class="col-md-4" style="padding-top: 2%">
	    	<img style="box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2); border-radius: 10px;" src="{% static 'image/randa.jpg' %}" width="340" height="250">
	    </div>
	    <div class="col-md-8">
			<div class="card-body deskripsi">
				<div class="card-title">
	    		<h1>{{ name }}</h1>
	    		</div>
	    		<br><br>
	    	<h3>{{ npm }}</h3>
	    	<h3>Omega 2016</h3>
	    	<h3>Fakultas Ilmu Komputer Universitas Indonesia<h3>
	    		<br><br>
	    		<h4>Perantau Minang yang merantau ke Depok untuk berkuliah di Fasilkom UI. Tertarik dengan <i>Web Development</i> khususnya
	    		 pada <i>Front End Development.</i> Anak pertama dari 3 bersaudara dan satu-satunya yang pergi merantau ke Pulau Jawa. Menetap di kosan daerah Pondok Cina, tapi sekarang menetap di kampung halaman karena pandemi.</h4>
	    	</div>
	    </div>
	    <div class="col-md-4 fasilkom" >
			<img src="https://upload.wikimedia.org/wikipedia/id/thumb/a/a5/Signature_FASILKOMUI.png/1200px-Signature_FASILKOMUI.png" width="200" height="300">
	    </div>
	    
	    
	    </div>

	</div>
	<br><br><hr>
</section>

	



	<div class="footer">
  <p>@RandaAlfarisyi2020</p>
</div>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<script>
// Add active class to the current button (highlight it)
var header = document.getElementById("myDIV");
var btns = header.getElementsByClassName("bton");
for (var i = 0; i < btns.length; i++) {
  btns[i].addEventListener("click", function() {
  var current = document.getElementsByClassName("active");
  current[0].className = current[0].className.replace(" active", "");
  this.className += " active";
  });
}
</script>
</body>
</html>
