body {
    	font-family: 'Montserrat';font-size: 16px;
    	background: #EEF8FF;
	}
	.card {
		  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		  transition: 0.3s;
		  max-width: 100%;
		  background: rgb(208,244,255);
      background: linear-gradient(90deg, rgba(208,244,255,1) 0%, rgba(198,255,254,0.8127626050420168) 51%, rgba(0,202,255,0.2329306722689075) 100%);
		  border-radius: 10px;
		  padding: 10px 10px 10px 10px;
		  margin-top: 80px;

		}
	.card-body {
		
		padding: 10px 10px 10px 10px;
		margin-bottom: 30px;
		margin-top: 20px;
		background: rgb(208,244,255);
background: linear-gradient(90deg, rgba(208,244,255,0.4598214285714286) 0%, rgba(198,255,254,0.6446953781512605) 64%, rgba(0,202,255,0.2329306722689075) 100%);
		border-radius: 10px;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		font-family: 'Cardo';
		color: #696969;
	}
	.deskripsi {
		padding-bottom: 200px;
	}
	.card-title {
		background: #EEF8FF;
		color: #696969;
		border-radius: 10px;
		padding-left: 10px; 
		padding-top: 1px;
		padding-bottom: 1px;
		margin: 0px;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		text-align: center;
	}
	hr {
		box-shadow: 0 4px 8px 0 rgba(0,0,0,1);
		color: black;
	}
	img {
		border-radius: 10px;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	}
ul {
  list-style-type: none;
  margin-bottom: 10px;
  padding: 0;
  overflow: hidden;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(84,170,168,1) 51%, rgba(0,202,255,0.2329306722689075) 100%);
  position: fixed;
  left: 0;
  top:0;
  width: 100%;
  z-index: 1;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

li {
  float: left;
}

li a {
  display: block;
  color: #020024;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: 500;
}

li a:hover:not(.active) {
  background-color: #07A3D5;
  color: white;
  text-decoration-line: none;
}
li a:hover {
  color: white;
  text-decoration-line: none;
  background: #07A3D5;

}

.active {
  background-color: #020024 ;
  color: white;
}
.footer {
   list-style-type: none;
  margin-bottom: 10px;
  padding: 20px;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(0,202,255,0.2329306722689075) 0%, rgba(84,170,168,1) 51%, rgba(2,0,36,1) 100%);
  left: 0;
  bottom:0;
  width: 100%;
  z-index: 1;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  text-align: right;
  color: white;
}
.footer p {
  margin : 0px;
  font-size : 16px;
}
.fab {
  padding: 10px;
  font-size: 30px;
  width: 15%;
  text-align: center;
  text-decoration: none;
  margin: 5px 5px;
}

.fab:hover {
    opacity: 0.7;
    color: white;
    background: #337ab7;
    text-decoration-line: none;
}

.links {
	float: right;
	font-size: 18px;
}
.myPage {
	background-color: transparent;
	display: block;
  color: white;
  text-align: center;
  padding: 11px 16px;
  text-decoration: none;
  font-weight: 700;
}
.fasilkom {
	padding-left: 7%; 
	position:absolute;
	top: 50%
}
.fasilkom img {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0);
}
table {
  background-color: white !important;
}

@media screen and (max-width: 1000px) {
  img, ul {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  .fasilkom img {
  	display: none;
  }
  ul {
  	font-size: 15px;
  }
  .footer p {
  	font-size: 15px;
  }
  a {
  	font-size: 10px;
  }
  .fab {
  padding: 10px;
  font-size: 30px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  margin: 5px 5px;
}

.fab:hover {
    opacity: 0.7;
    color: white;
    background: #337ab7;
    text-decoration-line: none;
}
}