{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Story 4 Randa</title>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{% static 'js/jque.js' %}"></script>
{% endblock meta %}

{% block content %}
  <section id="home">
	<div class="container">
		<div class="" style="margin-top: 40px;">
			
	    
	    
	    
	    

	<div class="some" id="accordion">
		<div class="group">
		<h3>Media Sosial</h3>
  		<div>
     <dir class="col-md-8">
			<dir>
	    	<h3>Kontak</h3>
	    	<h4><i class="fab fa-whatsapp"></i> 083180963532</h4>
	    	<h4><i class="fab fa-line"></i> randaalvarez_7</h4>
	    	</dir>
	    </dir>

	  <dir class="col-md-8">
			<dir>
	    	<h3>Media Sosial</h3>
	    	<a href="https://www.instagram.com/randa_alfarisyi/" class="fab fa-instagram fa-4x"></a>
	    	<a href="https://id-id.facebook.com/randa.alfarisyi" class="fab fa-facebook fa-4x"></a>
	    	<a href="https://id.linkedin.com/in/randa-alfarisyi" class="fab fa-linkedin fa-4x"></a>
	    	</dir>
	    </dir>

  </div>
  </div>
<div class="group">
  <h3>Pengalaman</h3>
  <div class="card">
    <div class="col-md-6" >
			<div class="card-body">
				<div class="card-title">
	    		<h3>Organisasi</h3>
	    		</div>
	    		<h4>- Staff Keilmuan BEM Fasilkom UI 2017</h4>
	    		<br><br><br><br>
	    	</div>
	    	
	    	<br>
	    </div>
	    <div class="col-md-6" >
			<div class="card-body">
				<div class="card-title">
	    		<h3>Kerja dan Proyek</h3>
	    		</div>
	    		<h4>- Web Engineer Intern KOTA Digivice</h4>
	    		<h4>- Proyek DoIt</h4>
	    		<h4>- Proyek Tran PNBP</h4>
	    		<h4>- Proyek CRM</h4>
	    		<br><br>
	    	</div>
	    	<br>
	    </div>
  </div>
  </div>

<div class="group">
  <h3>Pendidikan</h3>
  <div class="card">
    <div class="col-md-4" >
			<img src="{% static 'image/sdn07.jpg' %}" width="270" height="180">
			<h4>SDN 07 Sitapung </h4>
			<h5>(2004 - 2010)</h5>
	    </div>
	    <div class="col-md-4" >
			<img src="{% static 'image/smpn1.jpg' %}" width="270" height="180">
			<h4>SMPN 1 Ampek Angkek </h4>
			<h5>(2010 - 2013)</h5>
	    </div>
	    <div class="col-md-4" >
			<img src="{% static 'image/sman1.jpg' %}" width="270" height="180">
			<h4>SMAN 1 Ampek Angkek </h4>
			<h5>(2013 - 2016)</h5>
	    </div>
	    <div class="col-md-4" >
			
	    </div>
	    <div class="col-md-4" >
			<img src="{% static 'image/fasilkom.jpg' %}" width="270" height="180">
			<h4>Fasilkom UI </h4>
			<h5>(2016 - Sekarang)</h5>
			<br>
	    </div>
  </div>
</div>
<div class="group">
  <h3>Data Diri</h3>
  <div>
    <div class="col-md-4" style="padding-top: 2%">
	    	<img style="box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2); border-radius: 10px;" src="{% static 'image/randa.jpg' %}" width="272" height="200">
	    </div>
	    <div class="col-md-8">
			<div class="card-body">
				<div class="card-title">
	    		<h2>Randa Alfarisyi</h2>
	    		</div>
	    	<h4>1606877250</h4>
	    	<h4>Omega 2016</h4>
	    	<h4>Fakultas Ilmu Komputer Universitas Indonesia<h4>
	    		<h5>Perantau Minang yang merantau ke Depok untuk berkuliah di Fasilkom UI. Tertarik dengan <i>Web Development</i> khususnya
	    		 pada <i>Front End Development.</i> Anak pertama dari 3 bersaudara dan satu-satunya yang pergi merantau ke Pulau Jawa. Menetap di kosan daerah Pondok Cina, tapi sekarang menetap di kampung halaman karena pandemi.</h5>
	    	</div>
	    </div>
  </div>
</div>

</div>
	<br><br>

	</div>

	</div>
</section>
<style type="text/css">
	.footer {
		position: fixed;
	}
	.some {
		width: 90%;
		margin-top: auto;
		margin-left: auto;
		margin-right: auto;		 
		height: 50%;
	}

</style>
{% endblock content %}