{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Story 5 Randa Mata Kuliah</title>
{% endblock meta %}

{% block content %}
  <section id="">
		<div class="container">
		<div class="card col-md-12">
			<h3>Silakan Masukan Data Mata Kuliah</h3><br>
			<form action="savematkul" method="POST">
				{% csrf_token %}
				Nama Mata Kuliah: {{ input_form.display_name }}<br><br>
				Dosen: {{ input_form.dosen }}<br><br>
				Jumlah SKS : {{ input_form.sks }}<br><br>
				Deskripsi :{{ input_form.deskripsi }}<br><br>
				Semester/Tahun :{{ input_form.semester_tahun }}<br><br>
				Ruang Kelas : {{ input_form.ruang_kelas }}<br><br>
				<input id="submit" type="submit" value="Submit">
			</form>
	    </div>

	</div>
<br>
	</section>

	<style type="text/css">
		input {
			padding: 5px 5px 5px 5px;
			border-radius: 10px;
			border-width: 1px;
			width: 100%;
			border-color: white;
		}
		.container {
			font-size: 15px;
			margin-bottom: 100px;

		}
		#submit {
			width: 30%;
			background-color: #34F6F2;
			color: white;
			font-weight: bold;
		}
		#submit:hover {
			width: 30%;
			
			background-color: #07A3D5;
			color: white;
			font-weight: bold;
		}

	</style>
	<style type="text/css">
	.footer {
		position: fixed;
	}
	

</style>
	
{% endblock content %}