{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Story 4 Randa Pendidikan</title>
{% endblock meta %}

{% block content %}
  <section id="pendidikan">
		<div class="container">
		<div class="card col-md-12">
			<div class="col-md-2">
	    	
	    </div>
	    <div class="col-md-8">
			<div class="card-body">
				<div class="card-title">
	    		<h2>Pendidikan</h2>
	    		</div>
	    	</div>
	    	<br>
	    </div>
	    
	    <div class="col-md-4" >
			<img src="{% static 'image/sdn07.jpg' %}" width="270" height="180">
			<h4>SDN 07 Sitapung </h4>
			<h5>(2004 - 2010)</h5>
	    </div>
	    <div class="col-md-4" >
			<img src="{% static 'image/smpn1.jpg' %}" width="270" height="180">
			<h4>SMPN 1 Ampek Angkek </h4>
			<h5>(2010 - 2013)</h5>
	    </div>
	    <div class="col-md-4" >
			<img src="{% static 'image/sman1.jpg' %}" width="270" height="180">
			<h4>SMAN 1 Ampek Angkek </h4>
			<h5>(2013 - 2016)</h5>
	    </div>
	    <div class="col-md-4" >
			
	    </div>
	    <div class="col-md-4" >
			<img src="{% static 'image/fasilkom.jpg' %}" width="270" height="180">
			<h4>Fasilkom UI </h4>
			<h5>(2016 - Sekarang)</h5>
			<br>
	    </div>
	    <br><br>
	    <div class="col-md-4" >
			
	    </div>
	    
	    <br><br>
	    </div>

	</div>
<br>
	</section>
	
{% endblock content %}