{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Story 5 Randa Mata Kuliah</title>
{% endblock meta %}

{% block content %}
  <section id="">
		<div class="container">
	    <div class="card col-md-12">
	    	<div class="col-md-12" style="margin-top: 20px !important"><a id="link" href="/matkul">Tambah Jadwal Mata Kuliah</a></div>
	    	<div class="col-md-12" style="margin-top: 20px !important; overflow-x:auto;">
	    	<table class="table" id="myTable">
	    		
	    		<thead >
	    		<tr>
	    			<th>Mata Kuliah</th>
	    			<th>Dosen</th>
	    			<th>Jumlah SKS</th>
	    			<th>Semester/Tahun</th>
	    			<th>Ruang Kelas</th>
	    		</tr>
	    		</thead>
			{% if matkuls %}
			<tbody>
				{% for matkul in matkuls %}
		
				<tr>
					<td>{{ matkul.display_name }}</td>
					<td>{{ matkul.dosen }}</td>
					<td>{{ matkul.sks }}</td>
					<td>{{ matkul.semester_tahun }}</td>
					<td>{{ matkul.ruang_kelas }}</td>
					<td><a id="detail" href="detail/{{matkul.display_name}}">Detail</a></td>
					<td><a id="del" href="delete/{{matkul.display_name}}">Delete</a></td>
						
				</tr>
				
		<br/>
		{% endfor %}
		</tbody>
	{% endif %}
</table>
</div>

	    </div>

	</div>
<br>
	</section>
	<style type="text/css">
		table {
			background-color: #EEF8FF;
			font-size: 17px;
			border-radius: 10px;
		}
		#link { 
			background-color: #EEF8FF;
			color: black;
			box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
			padding: 10px 10px 10px 10px;
			border-radius: 5px;
			margin-bottom: 10px;

		}


		#link:hover {
			text-decoration: none;
			color: white;
			background-color: #78E3FD;
		}

		#del {
			color: white;
			background-color: #f74545;
			box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
			padding: 10px 10px 10px 10px;
			border-radius: 5px;
		}

		#del:hover {
			color: white;
			background-color: silver;
			text-decoration: none;
		}
		#detail {
			color: white;
			background-color: #78E3FD;
			box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
			padding: 10px 10px 10px 10px;
			border-radius: 5px;
		}

		#detail:hover {
			color: white;
			background-color: silver;
			text-decoration: none;
		}

		table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}
	</style>

<style type="text/css">
	.footer {
		position: fixed;
	}
	

</style>

{% endblock content %}