{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Story 5 Randa Mata Kuliah</title>
{% endblock meta %}

{% block content %}
  <section id="">
		<div class="container">
		<div class="card col-md-12">
			<div class="col-md-12 card-title">
			<h3>Data Mata Kuliah</h3><br>
			</div>
			<div class="col-md-12 card-body"> 
			<div class="col-md-6">
				Nama Mata Kuliah: <h4>{{ matkul.display_name }}</h4><br>
				Dosen: <h4>{{ matkul.dosen }}</h4><br>
				Jumlah SKS : <h4>{{ matkul.sks }}</h4><br>
			</div>
			<div class="col-md-6">
				Deskripsi :<h4>{{ matkul.deskripsi }}</h4><br>
				Semester/Tahun :<h4>{{ matkul.semester_tahun }}</h4><br>
				Ruang Kelas : <h4>{{ matkul.ruang_kelas }}</h4><br>
				</div> 
			</div>
	    </div>

	</div>
<br>
	</section>

	<style type="text/css">
		input {
			padding: 5px 5px 5px 5px;
			border-radius: 10px;
			border-width: 1px;
			width: 100%;
			border-color: white;
		}
		.container {
			font-size: 15px;
			margin-bottom: 100px;

		}
		#del {
			color: white;
			background-color: #f74545;
			box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
			padding: 10px 10px 10px 10px;
			border-radius: 5px;
		}

		#del:hover {
			color: white;
			background-color: silver;
			text-decoration: none;
		}
		}
	</style>
	
{% endblock content %}