{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Daftar Kegiatan Randa Story 6</title>
{% endblock meta %}

{% block content %}
  <section id="">
		<div class="container">
			<div class="card col-md-6" style="text-align: center">
				<h1>Daftar Kegiatan</h1>
			</div>
		<div class="card col-md-6 dibawah" >
			<h3>Diskusi <i>Front End</i></h3><br>
			<div style="overflow-x:auto;">
			<table class="table" id="myTable">
	    		
	    		<thead >
	    		<tr>
	    			<th>Nama</th>
	    			<th>Email</th>
	    			
	    		</tr>
	    		</thead>
			{% if forms1 %}
			<tbody>
				{% for data in forms1 %}
		
				<tr>
					<td>{{ data.name }}</td>
					<td>{{ data.email }}</td>	
				</tr>
				
		<br/>
		{% endfor %}
		</tbody>
	{% endif %}
</table>
</div>
<div class="tombol" style="margin-top: 20px !important"><a id="link" href="{% url 'form1' %}">Ikut Kegiatan</a></div>
	    </div>
	    <div class="card col-md-6 dibawah" >
			<h3>Diskusi Django</h3><br>
			<div style="overflow-x:auto;">
			<table class="table" id="myTable">
	    		
	    		<thead >
	    		<tr>
	    			<th>Nama</th>
	    			<th>Email</th>
	    			
	    		</tr>
	    		</thead>
			{% if forms2 %}
			<tbody>
				{% for data in forms2 %}
		
				<tr>
					<td>{{ data.name }}</td>
					<td>{{ data.email }}</td>	
				</tr>
				
		<br/>
		{% endfor %}
		</tbody>
	{% endif %}
	
</table>
</div>
<div class="tombol" style="margin-top: 20px !important"><a id="link" href="{% url 'form2' %}">Ikut Kegiatan</a></div>
	    </div>

	</div>
<br>
	</section>

	<style type="text/css">
		.container {
			font-size: 15px;
			margin-bottom: 100px;

		}
		.card {
			margin-left: 23%;
			margin-right: 23%;
		}
		.dibawah {
			margin-top: 50px !important;
		}
		#link { 
			background-color: #EEF8FF;
			color: black;
			box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
			padding: 10px 10px 10px 10px;
			border-radius: 5px;
			margin-bottom: 10px;

		}


		#link:hover {
			text-decoration: none;
			color: white;
			background-color: #78E3FD;
		}
		.tombol {
			margin-bottom: 20px;
		}

		table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

	</style>
	
{% endblock content %}