{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Story 6 Randa Formulir Kegiatan 2</title>
{% endblock meta %}

{% block content %}
  <section id="">
		<div class="container">
		<div class="card col-md-6">
			<h3>Kegiatan 2</h3><br>
			<h3>Silakan Masukan Data Diri</h3><br>
			<form action="saveForm2" method="POST">
				{% csrf_token %}
				<input type="text" name="name" placeholder="Nama" maxlength="60" id="id_name" required><br><br>
				<input type="text" name="email" placeholder="Email" maxlength="60" id="id_email" required><br><br>
				<input id="submit" type="submit" value="Submit">
			</form>
	    </div>

	</div>
<br>
	</section>

	<style type="text/css">
		input {
			padding: 5px 5px 5px 5px;
			border-radius: 10px;
			border-width: 1px;
			width: 100%;
			border-color: white;
		}
		.container {
			font-size: 15px;
			margin-bottom: 100px;

		}
		#submit {
			width: 30%;
			background-color: #34F6F2;
			color: white;
			font-weight: bold;
		}
		#submit:hover {
			width: 30%;
			
			background-color: #07A3D5;
			color: white;
			font-weight: bold;
		}
		.card {
			margin-left: 23%;
			margin-right: 23%;
		}
	</style>
	
{% endblock content %}