{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Story 8 Daftar Buku</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock meta %}

{% block content %}
 <div class="container" style="margin-bottom: 35px; ">
  <div class="buku card col-md-12">
  	<h4>Silahkan cari judul bukunya</h4>
<input style="margin-left: 10px;" id="keyword" placeholder="Search....">

<div class="col-md-12" id="daftar_buku" style="padding: 14px 16px;">
	<div class="hahah">
		<div class='col-md-12 gallery'> <img src="http://books.google.com/books/content?id=k7Ksb1OWfCMC&printsec=frontcover&img=1&zoom=5&edge=curl&source=gbs_api" alt='Northern Lights' width='600' height='400'>  <div class='desc'> Harry Potter dan pangeran berdarah-campuran </div></div>

		<div class='col-md-12 gallery'> <img src="http://books.google.com/books/content?id=zSa4AwAAQBAJ&printsec=frontcover&img=1&zoom=5&edge=curl&source=gbs_api" alt='Northern Lights' width='600' height='400'>  <div class='desc'>A Game of Thrones: Comic Book</div>  </div>

		<div class='col-md-12 gallery'> <img src="http://books.google.com/books/content?id=5NomkK4EV68C&printsec=frontcover&img=1&zoom=5&edge=curl&source=gbs_api" alt='Northern Lights' width='600' height='400'>  <div class='desc'>A Game of Thrones</div></div>
	 
	</div>
</div>
</div>
</div>
<script type="text/javascript">
	$("#keyword").keyup(function() {
		var cari = $("#keyword").val();
		console.log(cari);

		$.ajax({
			url: '/data?q=' + cari,
			success : function(data) {
				var array_items = data.items;
				$("#daftar_buku").empty();

				for (i=0; i<array_items.length - 1; i++) {
					var judul = array_items[i].volumeInfo.title;
					var gambar = array_items[i].volumeInfo.imageLinks.smallThumbnail;
					console.log(array_items[i]);
					//$("#daftar_buku").append("<li id='gaya'><div class='col-md-12'>" + judul + "<br><img src=" + gambar + "></div></li><br><br>");
					$("#daftar_buku").append("<div class='col-md-12 gallery'> <img src=" + gambar + " alt='Northern Lights' width='600' height='400'>  <div class='desc'>" + judul + "</div> </div>");
					$(".hahah").hide();

				}
			}

		});

	});
</script>

<style type="text/css">
	.footer {
		margin-top: 20px;
		position: fixed;
	}
	.buku {
		font-size: 18px;
	}
	#gaya {
		position:relative; 
		float: left; 
		width:550px; 
		height: 250px; 
	}

	div.gallery {
	  margin: 15px;
	  padding: 10px;
	  float: left;
	  width: 176px;
	  height: 400px;
	  font-size: 13px;
	  font-weight: bold;
	  text-align: center;
	}

	div.gallery:hover {
	  background-color: white;
	}

	div.gallery img {
	  width: 100%;
	  height: auto;
	}

	div.desc {
	  padding: 10px;
	  text-align: center;
	}
	


</style>
{% endblock content %}